.button{
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #00fafa;
    padding: 7px 15px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-size: 12px;
}

.button:hover{
    transform: scale(103%);
    box-shadow: rgba(0, 250, 250, 0.1) 0px 5px 20px;

}


.disabled{
    border: 1px solid #040404;
    opacity: 0.5;
}

