.wrapper{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    color: #fff;
    background: #202124;
    position: relative;
    z-index: 0;
    gap: 50px;
    max-width: 600px;
    margin: 0 auto;
}

.wrapper::before{
    position: absolute;
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 30s linear infinite;
    border-radius: inherit;

}

.wrapper::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #202124;
    left: 0;
    top: 0;
    border-radius: inherit;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media (max-width: 720px) {
    .wrapper{
        padding: 20px;
    }
}

@media (max-width: 435px) {
    .wrapper{
        flex-direction: column;
        gap: 15px 0;
    }
}