.container{
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: 0.3s linear;
    cursor: pointer;
    border-radius: 12px;
}

.container:hover{
    box-shadow: rgba(0, 250, 250, 0.1) 0px 4px 12px;
    transform: scale(102%);
    border-radius: 0;
}


.poster{
    width: inherit;
    height: inherit;
    user-select: none;
    pointer-events: none;
}

.year{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #47821a;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: 700;
}

.wrapper{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 7px 8px;
    background-color: rgba(0,0,0,0.4);
    width: inherit;
}

.reit{
    margin: 0;
    color: #ffda13;
    font-weight: 700;
}
.reit span{
    color: #fff;
    font-weight: 400;
}


.genres{
    font-size: 12px;
    color: #ffda13;
    margin: 0;
    font-weight: 700;
}